{% extends 'navbar.html' %}

{% block css_block %}

<style media="screen">
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.jumbos{
  margin-top: 0px;
  margin-bottom: 0px;
}
.jumbos h1{
  text-align: center;
}

</style>


{% endblock %}

{% block title_block %} Admin Dashboard {% endblock %}

{% block body_block %}
<center><h3 style=" margin-bottom: 0px;"class = 'alert alert-success'>Welcome to Online TechBox !</h3></center>
    <div class="jumbos"   style="margin-bottom: 0px; background-color: antiquewhite;">
    <h1 class="display-4">Hello {{user.username}} !</h1>
    <p class="lead">As you are Admin, you can add a Techtool to Box, view available tools in techbox,
       Issue tools to employees of our company,
      View issued tools to employees and many more ... !
    </p>
        <p><center>Option Available For You</center></p>
    <div class="options" style="text-align:center; background-color: antiquewhite;">
      <a href="{% url 'app_gadgets:addtool' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add Tools To TechBox</a><br><br>
      <a href="{% url 'app_gadgets:toollist' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">View Available Tools</a><br><br>
      <a href="" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Issue New Tools</a><br><br>
      <a href="" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">View Issued Tools</a><br><br>
      <a href="" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">View Employees Of Our Company</a><br><br>
      <a href="" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add Employee To Our Company</a>
    </div>
    </div>
<br><br>

{% endblock %}