<!DOCTYPE html>
<html lang="en">
{% load crispy_forms_tags %}
{% load static %}
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>IssueGadget Page</title>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Issue Gadgets To Our Member</h3></div>
                                    <div class="card-body">
                                        <form method="POST" id="issuetool_form">
                                            {% csrf_token %}
                                            {{ form|crispy }}
<!--                                            <div class="form-row">-->
<!--                                                <div class="col-md-6">-->
<!--                                                    <div class="form-group">-->
<!--                                                        <label class="small mb-1" for="inputFirstName">First Name</label>-->
<!--                                                        <input class="form-control py-4" id="inputFirstName" type="text" placeholder="Enter first name" />-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                <div class="col-md-6">-->
<!--                                                    <div class="form-group">-->
<!--                                                        <label class="small mb-1" for="inputLastName">Last Name</label>-->
<!--                                                        <input class="form-control py-4" id="inputLastName" type="text" placeholder="Enter last name" />-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="form-group">-->
<!--                                                <label class="small mb-1" for="inputEmailAddress">Email</label>-->
<!--                                                <input class="form-control py-4" id="inputEmailAddress" type="email" aria-describedby="emailHelp" placeholder="Enter email address" />-->
<!--                                            </div>-->
<!--                                            <div class="form-row">-->
<!--                                                <div class="col-md-6">-->
<!--                                                    <div class="form-group">-->
<!--                                                        <label class="small mb-1" for="inputPassword">Password</label>-->
<!--                                                        <input class="form-control py-4" id="inputPassword" type="password" placeholder="Enter password" />-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                <div class="col-md-6">-->
<!--                                                    <div class="form-group">-->
<!--                                                        <label class="small mb-1" for="inputConfirmPassword">Confirm Password</label>-->
<!--                                                        <input class="form-control py-4" id="inputConfirmPassword" type="password" placeholder="Confirm password" />-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
                                            <div class="form-group mt-4 mb-0"><button type="submit" class="btn btn-primary" style="width:100%;">Issue</button></div>
                                        </form>
                                        <br>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2020</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

<!--        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <script type="text/javascript">
            $(".btn").click(function(e){
            e.preventDefault();
            $.ajax({
            type: "POST",
            url: "{% url 'app_gadgets:issue_gadget' %}",
            data:{
                  name: $('#id_gadget_name').val(),
                  email: $('#id_email').val(),
                  emp_code: $('#id_emp_code').val(),
                  csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                  },
            success:function(response){
            if(response.response == "Available"){
              alert("Selected Gadget Is Issued To You.");
              window.location = "http://localhost:8000/gadgets/dashboard/";
              // window.location = "https://techbox143.herokuapp.com/gadgets/dashboard/";

            }
            else{
              alert("Selected Gadget Is Not Available.");
              document.getElementById("issuetool_form").reset();
            }
            }
            })
            });
        </script>
    </body>
</html>
