                                            <tr>
                                                <td><center>{{ emp.name }}</center></td>
                                                <td><center>{{ emp.emp_code }}</center></td>
                                                <td><center>{{ emp.department }}</center></td>
                                                <td><center>{{ emp.city }}</center></td>
                                                <td><center>{{ emp.phone }}</center></td>
                                                <td><center><a href="{% url 'app_gadgets:update_emp' code=emp.emp_code %}" class="btn btn-primary btn-sm">Update</a></center></td>
                                                 <td><center><a href="" class="btn btn-danger btn-sm btn-del" data-sid="{{ emp.emp_code }}">Delete</a></center></td>
<!--                                                <td>$183,000</td>-->
                                            </tr>